{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block title %}
Products
{% endblock title %}

{% block content %}
    <h1>All posts</h1>
    <hr>
    {% if posts %}
        <h3>{{ posts|length }}</h3>>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.title }}
                </td>
                <td>
                    {{ post.created|date:'M d Y' }}
                </td>
                <td>
                    {{ post.text|truncatewords:20 }}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <h2>There are no posts here</h2>
    {% endif %}
{% endblock content %}